//fonts
$base-font-family: "Roboto", sans-serif;

//margins
$vr1-large: 8px;
$vr1-small: 4px;
$vr2-large: 32px;
$vr2-small: 16px;
$vr3-large: 48px;
$vr3-small: 16px;
$vr4-large: 104px;
$vr4-medium: 72px;
$vr4-medium-small: 56px;
$vr4-small: 40px;
$vr5-large: 144px;
$vr5-medium-small: 88px;
$vr5-small: 56px;

//font props
$h1-size-large: 200px;
$h1-line-height-large: 240px;
$h1-size-medium: 172px;
$h1-line-height-medium: 200px;
$h1-size-medium-small: 120px;
$h1-line-height-medium-small: 136px;
$h1-size-small: 72px;
$h1-line-height-small: 88px;
$h2-size-large: 56px;
$h2-line-height-large: 64px;
$h2-size-medium: 48px;
$h2-line-height-medium: 56px;
$h2-size-small: 24px;
$h2-line-height-small: 24px;
$h3-size-large: 32px;
$h3-line-height-large: 40px;
$h3-size-small: 24px;
$h3-line-height-small: 24px;
$h4-size-large: 24px;
$h4-line-height-large: 32px;
$h4-size-small: 16px;
$h4-line-height-small: 24px;

$p-size: 24px;
$p-line-height: 32px;

$p-size-small: 16px;
$p-line-height-small: 24px;

//colors
$coyotes: #862633;
$black: #231c1c;
$teal: #286877;
$darkgrey: #443e3e;
$oldlace: #fcf6ea;
$grey: #443e3e;

//widths
$container-width-large: 1040px;
$container-padding-large: 120px;
$container-width-small: 480px;
